.question-section{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
}
.answore{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
}
.question-section p{
    background-color: rgb(175, 168, 168);
}