.quiz{
    background-color: rgb(237, 237, 237);
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
    padding: 15px;
}
.quiz button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(240, 116, 58);
    font-size: 2vmin;
    font-weight: 600;
    transition: 0.4s ease;
}
.quiz button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid gray;
    cursor: pointer;
}
.quiz h2{
    font-size: 6vmin;
    margin: 25px;
}
.quiz img{
    width: 100%;
}

/* animaton design  */
img {
    transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.1);
}