.quizes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
}




/* responsive design  */
@media screen and (min-width: 851px) and (max-width: 1000px) {
    .quizes{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 850px) {
    .quizes{
        grid-template-columns: repeat(1, 1fr);
    }
    
}