.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 90%;
    margin: auto; */
    padding: 0px 100px;
    box-shadow: 2px 2px 2px whitesmoke;
}
.header h2{
    font-size: 4vmin;
}
.nav-bar a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
}
.nav-bar a:hover{
    color: tomato;
}
.sub-header{
    border: 1px solid gray;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
}